*{margin:0;padding:0;}

body{
  /*background-image:url("../images/login-bg.jpg") ;
  background-size:cover;*/
  /*background-color:#fff;
  /*font-family:'Open Sans',sans-serif;*/
}

#login{
  width:400px;
  margin:200px auto;
  margin-top:100px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#login h1{
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

form{
  background:#ffffff;
  padding:6% 4%;
}

input[type="text"],input[type="password"]{
  width:100%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

input[type="submit"]{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2288bb;
}