@CHARSET "UTF-8";

.navbar{
	background-color: #37a0bb !important;
	color:#ffff80!important;
	border-color: #fff !important;
}
#main{
	margin-top:50px;
	width: 100%;
	min-height: 300px;
	min-width: 800px;
}
#left-menu{
	width: 20%;
	min-width:200px;
	background-color: #fff;
	float:left;
	margin-right: 20px;
}
#content{
	min-width:400px;
	margin-left: 20% !important;
}
.btn-menu{
	background-color: #37a0bd !important;
	height:100px !important;
	color: #fff !important;
	text-align: center !important;
}
.btn-menu:hover{
	background-color: #9ab9e7!important;
}
