@CHARSET "UTF-8";

#main{
	margin-top:50px;
	width: 100%;
	min-height: 300px;
	min-width: 800px;
}
#left-menu{
	width: 20%;
	min-width:200px;
	background-color: #fff;
	float:left;
	margin-right: 20px;
}
#content{
	min-width:400px;
	background-color: #ccc;
	margin-left: 20% !important;
}
.btn-menu{
	background-color: #101010 !important;
	height:100px !important;
	color: #fff !important;
	text-align: center !important;
}
.btn-menu:hover{
	background-color: #10cccc !important;
}
