@CHARSET "UTF-8";

.navbar{
	background-color: #020202 !important;
	color:#ffff80!important;
	border-color: #fff !important;
}
#main{
	margin-top:50px;
	width: 100%;
	min-height: 600px !important;
	min-width: 800px;
}
#left-menu{
	width: 250px;
	min-height: 600px;
	min-width:50px;
	background-color: #ececec;
	float:left;
	margin-right: 20px;
}
#content{
	min-width:400px;
	margin-left: 260px ;
}
.btn-menu{
	background-color: #ececec !important;
	height:40px !important;
	color: #3c3c3c !important;
	border:1px solid #fff !important;
}
.btn-menu:hover{
	background-color: #f9f9f9!important;
}
#nav_toggle:hover{
	background-color:#ccc !important;
}
