@CHARSET "UTF-8";
*{
	margin: 0;
	padding: 0;
}
/*导航栏*/
.navbar{
	background-color: #F5F5F5 !important;
	color:#f3f9fd !important;
	border-color:#ffffff !important;
	margin-right: 0px !important;
}
/*主体内容*/
#j-main{
	
	width: 100%;
	min-height: 600px !important;
	min-width: 800px;
	background-color:#ffffff;
}
#j-left-menu{
	position:fixed;
	width: 230px;
	min-height: 2500px;
	min-width:58px;
	background-color: #3c434d;
	float:left;
	margin-right: 10px;
	z-index:999;
	margin-top:-60px;
}
#content{
	margin-top:60px;
	min-width:400px;
	margin-left: 240px ;
}
.btn-menu{
	background-color: #2c343f !important;
	height:45px !important;
	color: #7e8287 !important;
	border:1px solid #2c343f !important;
}
.btn_text{
	padding-left:18px !important;
}
.btn_icon{
	text-align:center !important;
}
.btn-menu:hover{
	background-color: #232a32!important;
	color: #fff !important;
}
#j_nav_toggle:hover img{
	opacity: 0.5;
}

.j-child-menu button{
	padding-left:60px !important;
	border-radius:0 !important;
	width: 100% !important;
	color: #7e8287 !important;
	background-color: #252C36 !important;
	border:1px solid #252C36 !important;
}
.j-child-menu button:hover{
	color: #fff !important;
}
.j-no-radous{
	border-radius:0 !important;
}

.glyphicon:nth-child(odd){
	margin-right:10px;
}

.upPowerName{
	height:60px;
}

.supManBac{
	position:fixed;
	top:16px;
	left:18px;
	font-weight: 300 !important;
	font-size: 20px;
	color: #ffffff;
	font-family:SimHei;
	
}

.supManBac:hover{
	color: #CCCED1 !important;
}
