<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MVS</display-name>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.swjtu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>edu.swjtu.servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreUserNSServlet</servlet-name>
    <servlet-class>edu.swjtu.servlet.CreUserNSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/servlet/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreUserNSServlet</servlet-name>
    <url-pattern>/servlet/CreUserNSServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CreateAdminServlet</servlet-name>
    <servlet-class>edu.swjtu.servlet.CreateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAdminServlet</servlet-name>
    <url-pattern>/servlet/CreateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUserServlet</display-name>
    <servlet-name>ManageUserServlet</servlet-name>
    <servlet-class>edu.swjtu.servlet.ManageUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUserServlet</servlet-name>
    <url-pattern>/servlet/ManageUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>edu.swjtu.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageAdminServlet</servlet-name>
    <servlet-class>edu.swjtu.servlet.ManageAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageAdminServlet2</servlet-name>
    <servlet-class>edu.swjtu.servlet.ManageAdminServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageAdminServlet</servlet-name>
    <url-pattern>/servlet/ManageAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageAdminServlet2</servlet-name>
    <url-pattern>/servlet/ManageAdminServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>edu.swjtu.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/servlet/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageUserServlet</display-name>
    <servlet-name>PageUserServlet</servlet-name>
    <servlet-class>edu.swjtu.servlet.PageUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExportCarData</servlet-name>
    <servlet-class>edu.swjtu.excel.ExportCarData</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManageCarServlet</servlet-name>
    <servlet-class>edu.swjtu.servlet.ManageCarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>edu.swjtu.servlet.FileUploadServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>PageUserServlet</servlet-name>
    <url-pattern>/servlet/PageUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportCarData</servlet-name>
    <url-pattern>/servlet/ExportCarData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageCarServlet</servlet-name>
    <url-pattern>/servlet/ManageCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/servlet/FileUploadServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>